
#tableofcar {
    position:relative;
    left:0%;
    border-spacing: 50px;
    border-collapse: separate;
}

#carlist {
  background-color:#333;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

#carlistmini {
  position: relative;
  background-color: #333;
  color: white;
  padding:10px;
  width: 200px;
  left: 25px;
}

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
  }

  td {
    padding: 10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    table {
      border-collapse: collapse;
      border-spacing: 30px;
      width: 100%;
    }

    td {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

