#calculator {
    position: relative;
    color: black;
    max-width: 50%;
    padding: 20px;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#clc {
    position: relative;
    color: white;
    top:20%;
    font-size: 24px;
}

#input-group {
margin-bottom: 20px;
}

#label-calc {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

input[type="range"] {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    transition: background-color 0.3s;
  }
  
  input[type="range"]:hover {
    background-color: #ccc;
  }

#calculate-button {
    background-color: goldenrod;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: greenyellow;
}

#monthly-payment {
    margin-top: 20px;
    background-color: #333;
    color: white;
    position:relative;
    border-radius: 10px;
    left: 25%;
    top: 10px;
    font-weight: bold;
    font-size: 24px;
    width: 250px;
}

.animated-div {
    left: 25%;
    top: 10px;
    background-color: #333;
    position:relative;
    width: 250px;
    height: 150px;
    background-size: 400% 400%;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}